* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html {
    background-color: var(--page-background);
    color: var(--text-color)
}

header {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 45px 0px var(--shadow-color);
}

header .logo, header .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: fit-content;
}

header .categories {
    width: 100%;
}

header .categories div {
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .categories div:hover {
    color: var(--text-selected);
}

header .logo img {
    width: 64px;
    height: 64px;
    margin-right: 16px;
}

header .logo {
    margin-right: 16px;
}

.controls {

}

main .sidebar {
    
}