header {
    background-color: var(--page-background);
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
    position: sticky;
    top: 0;
}

header .logo, header .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: fit-content;
}

header .categories {
    width: 100%;
}

header .categories div {
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .categories div:hover {
    color: var(--text-selected);
}

header .logo img {
    width: 64px;
    height: 64px;
    margin-right: 16px;
}

header .logo {
    margin-right: 16px;
}

main {
    width: 100%;
    flex-grow: 1;
    display: flex;
}

main .content {
    padding: 20px;
}

main .sidebar {
    background-color: var(--page-background);
    padding: 12px;
    width: 250px;
    height: 100%;
    height: 90;
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
    display: flex;
    flex-direction: column;
}

main .sidebar-content {
    height: 100%;
}

main .sidebar .controls {
    align-self: flex-end;
    flex-grow: 1;
    display: flex;
    width: 100%;
}

main .sidebar .controls .lang {
    flex-grow: 1;
}