* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.unselectable, .unselectable * {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@media (prefers-color-scheme: dark) {
    /* TODO: Implement dark mode LMAO */
}

header {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 45px 0px #00000050;
}

header .logo, header .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: fit-content;
}

header .categories {
    width: 100%;
}

header .categories div {
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo img {
    width: 64px;
    height: 64px;
    margin-right: 16px;
}

.controls {

}