* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    background-color: var(--page-background);
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
}

:root {
    --text-color: black;
    --text-selected: darkcyan;
    --page-background: white;
    --shadow-color: #00000050;
    --border-tempalte: 1px solid #DDDDDD
}

@media (prefers-color-scheme: dark) {
    /* TODO: IMPLEMENT */
    :root {
        /* --text-color: white;
        --text-selected: cyan;
        --page-background: black;
        --shadow-color: #ffffff50;
        --border-tempalte: 1px solid #232323 */
    }
}

.unselectable, .unselectable * {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

select {
    background-color: var(--page-background);
    border: var(--border-tempalte);
    width: fit-content;
    padding: 2px;
    color: var(--text-color);
}